* {font-size: 100.01%;}
html {font-size: 62.5%;}
body{
	margin: 0;
	color: #000;
	font: 1.8em Arial, Helvetica, sans-serif;
	font-weight: bold;
	background: #fff;
}
img{border-style: none;}
a{
	text-decoration: none;
	color: #000;
}
a:hover{text-decoration: underline;}
input,
textarea,
select{
	font: 100% arial,sans-serif;
	vertical-align: middle;
}
form,fieldset{
	margin: 0;
	padding: 0;
	border-style: none;
}
header, footer, article, section, hgroup, nav, figure { display: block; }
#wrapper{
	margin: 0 auto;
	padding: 28px 44px 0 43px;	
	max-width: 960px;
}
#header{

}
.header-top{
	overflow: hidden;
}
.header-top .logo{
	float: left;
	margin: 0;
	font-size: 0;
	width: 289px;
	height: 59px;
	background: url(../images/logo.png) no-repeat;
}
.header-top .contact-us{
	float: right;
	margin-top: 15px;
}
.header-top .text, .header-top .email{
	display: block;
	text-align: right;
	font-size: 0.928em;
	font-style: italic;
}
.header-top .text{
	font-weight: normal;
	color: #858586;
}
.header-top .email{
	color: #779956;
}
.header-nav{
	margin-top: 29px;
	background: #538bc5;
}
.header-nav:after{
	content: '';
	display: block;
	clear: both;
}
#nav{
	font-size: 0;
	float: left;
	width: 880px;
}
#nav a{
	display: inline-block;
	font-size: 20px;
	line-height: 20px;
	padding: 16px 0 13px;
	color: #ffffff;
}
#nav a.active {
	position: relative;
	background: #375c84;
}
#nav a.active:after {
	content: '';
    position: absolute;
    background: inherit;     
	bottom: -4px;
	left: 45%;
    width: 8px; 
	height: 8px;       
    transform: rotate(45deg);
}
.header-nav .contact-icons{
	display: inline-block;
	width: 80px;
	float: right;
	font-size: 0;
	vertical-align: middle;
	list-style: none;
	padding: 0;
	text-align: right;
	margin: 13px 0 0 0;
}
.header-nav .contact-icons li{
	height: 16px;
	border: 3px solid #94c5ec;
	display: inline-block;
	border-radius: 3px;
	margin-right: 8px;
}
.header-nav .contact-icons li:hover{
	border: 3px solid #2cda6a;
}
.header-nav .contact-icons .email{
	width: 18px;
	background: url(../images/email.png) no-repeat, #94c5ec;
}
.header-nav .contact-icons .fb{
	margin-right: 14px;	
	width: 16px;
	background: url(../images/fb.png) no-repeat, #94c5ec;
}
#main .banner{
	margin-top: 20px;
	height: 146px;
	padding: 24px 26px 0 0;
	background: url(../images/banner-bg.png) no-repeat;
}
.banner-info{
	float: right;
	height: 100%;
	text-align: right;
	font-weight: bold;
	position: relative;
}
.banner-info h2{
	display: block;
	margin: 0;
	font-size: 2em;
	line-height: 1em;
	color: #688fb1;
	font-weight: bold;
}
.banner-info span{
	display: block;
	margin-bottom: 13px;
	line-height: 1em;
	color: #91a9bd;
}
.banner-info .check{
	font-size: 0.889em;
	line-height: 1em;
	padding: 0.75em 1.438em 0.875em 1.375em;
	border: none;
	color: #ffffff;
	background: #d8812e;
	position: absolute;
	bottom: 25px;
	right: 0;
}
.filter-search{
	margin-top: 20px;
	overflow: hidden;
	padding-bottom: 20px;
	border-bottom: 1px dotted #b6c6dd;
}
.filter-gender{
	float: left;
	list-style: none;
	padding: 0;	
	margin: 0;
	letter-spacing: -0.36em;
}
.filter-gender li{
	display: inline-block;
	letter-spacing: normal;
}
.filter-gender li a{
	display: inline-block;
	padding: 11px 15px 14px 15px;
	margin-left: 5px;
	background: #ececec;
	border: 1px solid #dddddc;
	color: #a0a0a0;
}
.filter-gender li:first-child a{
	margin-left: 0;
}
.filter-gender li a:hover, .filter-gender li.active a{
	color: #3b638f;
	background: #e2ecf4;
}
.filter-search .search{
	float: right;
}
.filter-search .search input[name=search-text]{
	padding: 9px 9px 11px 9px;
	width: 212px;
	border: 3px solid #cbddbb;
	font-family: Verdana Regular,arial,sans-serif;
	font-size: 0.667em;
	line-height: 1em;
	color: #676767;
}
.filter-search .search .input-border{
	border: 1px solid #aec697;
	display: inline-block;
}
.filter-search .search input[type=submit]{
	font-size: 0.889em;
	line-height: 1em;
	font-weight: bold;
	color: #6c7e54;
	background: #cbddbb;
	padding: 11px 12px 13px 13px;
	border: 1px solid #aec697;
}